/*
 * filename: xmedcon.css
 *
 * CONFIG File: Medical Image Conversion Utility
 *
 * purpose    : the general Gtk styling & layout file
 *
 * project    : (X)MedCon by Erik Nolf
 */
/*
 */

/* Note: When (X)MedCon is installed, this becomes the system
 *       wide styling file. You could copy it to your own
 *       ${HOME}/.xmedcon.css for personal configurations.
 */


/* personal hundliv theme */
@define-color color_hundliv_black       #1b1d1e; /* black      */
@define-color color_hundliv_white       #f8f8f2; /* white      */
@define-color color_hundliv_dark_gray   #1b1d1e; /* dark  gray */
@define-color color_hundliv_dim_gray    #505354; /* dim   gray */
@define-color color_hundliv_light_gray  #ccccc6; /* light gray */
@define-color color_hundliv_green       #82b414; /* green      */
@define-color color_hundliv_orange      #fda53c; /* orange     */
@define-color color_hundliv_yellow      #fee763; /* yellow     */
@define-color color_hundliv_red         #d23d3d; /* red        */
@define-color color_hundliv_magenta     #624d8f; /* magenta    */
@define-color color_hundliv_purple      #8473a7; /* purple     */
@define-color color_hundliv_blue        #4d73aa; /* blue       */
@define-color color_hundliv_dim_cyan    #89b6e2; /* dim   cyan */
@define-color color_hundliv_light_cyan  #46a4ff; /* light cyan */

@define-color color_basic_bg @color_hundliv_dark_gray;
@define-color color_basic_fg @color_hundliv_green;
@define-color color_focus_bg @color_hundliv_green;
@define-color color_focus_fg @color_hundliv_magenta;
@define-color color_dimmed   @color_hundliv_dim_gray;
@define-color color_shadow   @color_hundliv_black;
@define-color color_text     @color_hundliv_dim_cyan;


*:selected {
  background-color: @color_focus_bg;
  color: @color_focus_fg;
}

*:hover {
  background-color: @color_focus_bg;
  color: @color_focus_fg;
}

*:disabled {
  color: @color_dimmed;
}
/*
textview{
  font: 10px monospace;
}*/

window, dialog, menu, menubar, grid, text, entry, treeview, tab, frame, header, textview, spinbutton, slider, list {
  background-color: @color_basic_bg;
  color: @color_basic_fg;
  font: 11px monospace;
}

headerbar.titlebar {
  background: @color_basic_bg;
  color: @color_focus_fg;
}

treeview, list, textview text {
  color: @color_text;
}

header {
  border-bottom-color: @color_basic_bg;
}

list {
  background-color: @color_basic_bg;
}

scrollbar slider:hover {
  background-color: @color_hundliv_light_cyan;
}

box {
  background-color: transparent;
}

notebook stack {
  background-color: transparent;
}

spinbutton:focus {
  /*border-color: @color_focus_bg;*/
  border-color: @color_hundliv_orange;
}

spinbutton selection {
  /*background-color: @color_focus_bg;*/
  background-color: @color_hundliv_orange;
}

entry:focus {
  /*border-color: @color_focus_fg;*/
  border-color: @color_hundliv_orange;
  box-shadow: none;
}

entry selection {
  background-color: @color_focus_bg;
  color: @color_focus_fg;
  box-shadow: @color_shadow;
}

tab:checked {
  box-shadow: 0 -4px @color_hundliv_purple inset;
}

tab:hover {
  box-shadow: 0 -4px @color_focus_fg inset;
}

menuitem:hover {
  box-shadow: none;
}

radio, check {
  background-image: none;
  border-color: @color_dimmed;
}

radio:checked, check:checked {
  background-image: none;
  background-color: @color_hundliv_magenta;
  border-color: @color_hundliv_blue;
  color: @color_hundliv_light_cyan;
}

radio:disabled, check:disabled {
  background-image: none;
  background-color: @color_basic_bg;
  border-color: @color_dimmed;
  color: @color_dimmed;
}

slider {
  background-image: none;
  background-color: @color_hundliv_blue;
  border-color: @color_hundliv_light_cyan;
}

slider:hover {
  background-image: none;
  background-color: @color_hundliv_light_cyan;
  border-color: @color_hundliv_blue;
}

highlight {
  border-color: @color_hundliv_red;
  background-color: @color_hundliv_orange;
}

trough {
  background-color: @color_dimmed;
  border-color: @color_dimmed;
}

/*
treeview box {
  background-color: transparent;
}

list row box {
  background-color: transparent;
}
*/

button {
  background-image: none;
  text-shadow: none;
  background: @color_basic_bg;
  color: @color_basic_fg;
  border-color: @color_shadow;
}

arrow {
  background-color: transparent;
}

#WarningLabel {
  color: @color_hundliv_orange;
}
/*
#TextView {
  font: 10px monospace;
}*/
